* {
  /* margin: 0 auto; */
  align-content: center;
  text-align: center;
  margin: 7px auto;
}

body {
  /* font-family: 'MuseoModerno', cursive; */
  /* font-family: 'Dosis', sans-serif; */
  font-family: 'Titillium Web', sans-serif;
  background-color: whitesmoke;
}

a {
  text-decoration: none;
  background-color: white;
  border: black;
  color: black;
  padding: 5px 12px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
}

ul {
  list-style: none;
}

button {
  background: white;
  border-radius: 20px;
  cursor: pointer;
}

input[name="logout"] {
  background: white;
  font-size: 14px;
  border-radius: 20px;
  padding: 4px 12px;
  cursor: pointer;
}

.not-found{
  background-color: red;
}