* {
  align-content: center;
  text-align: center;
  margin-top: 7px auto;
}

body {
  font-family: 'Balsamiq Sans';
  background-color: lightcyan;
  font-size: 16px;
  width: 100%;
}


/* ids */
#signup-submit{
  margin-top: 15px;
}

#title{
  font-family: 'Balsamiq Sans';
}

#home-href{
  font-size: 30px;
  color: black;
}

/* classes */
.main-div{
  width: 100%;
  align-content: center;
  text-align: center;
  padding: 35px;
}

.login {
  padding: 25px 20px;
  margin: 35px auto;
  width: 200px;
  background: white;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.65);
  -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.65);
  box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.65);
}

.username{
  margin-bottom: 10px;
}

.password{
  margin-bottom: 10px;
}

.not-found{
  background: white;
  text-align: center;
  align-content: center;
  color: black;
}
.not-found a {
  font-size: 30px;
}


.form{
  padding-top: 25px;
  padding-bottom: 25px;
  width: 650px;
  margin: 35px auto;
  background: white;
  -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.65);
  -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.65);
  box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.65);
}

.list{
  padding: 10px;
  width: 200px;
  margin: 25px auto;
  background: lightcyan;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.65);
  -moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.65);
  box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.65);
}


/* regular selectors */
a {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  color: peru;
}

a:hover {
  color: black;
}

ul {
  list-style: none;
}

button {
  background: white;
  border-radius: 20px;
  cursor: pointer;
}

/* input[name="logout"] {
  background: white;
  font-size: 12px;
  border-radius: 20px;
  cursor: pointer;
}

input[name="Delete"]{
  background: white;
  font-size: 12px;
  border-radius: 20px;
  cursor: pointer;
} */
