* {
  /* margin: 0 auto; */
  align-content: center;
  text-align: center;
  margin-top: 7px auto;
}

body {
  /* font-family: 'MuseoModerno', cursive; */
  /* font-family: 'Dosis', sans-serif; */
  /* font-family: 'Titillium Web', sans-serif; */
  font-family: 'Balsamiq Sans';
  background-color: lightcyan;
  font-size: 16px;
  width: 100%;
}


/* ids */
#signup-submit{
  margin-top: 15px;
}

#title{
  font-family: 'Balsamiq Sans';
}


/* classes */
.main-div{
  width: 100;
  align-content: center;
  text-align: center;
  padding: 35px;
}

.login {
  padding: 25px 20px;
  margin: 35px auto;
  width: 200px;
  background: white;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.65);
-moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.65);
box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.65);
}

.username{
  margin-bottom: 10px;
}

.password{
  margin-bottom: 10px;
}

.not-found{
  background: turquoise;
  color: black;
}


/* regular selectors */
a {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  color: black;
}

a:hover {
  color: peru;
}

ul {
  list-style: none;
}

button {
  background: white;
  border-radius: 20px;
  cursor: pointer;
}

input[name="logout"] {
  background: white;
  font-size: 12px;
  border-radius: 20px;
  cursor: pointer;
}

input[name="Delete"]{
  background: white;
  font-size: 12px;
  border-radius: 20px;
  cursor: pointer;
}
