* {
  /* margin: 0 auto; */
  align-content: center;
  text-align: center;
  margin: 7px auto;
}

body {
  /* font-family: 'MuseoModerno', cursive; */
  /* font-family: 'Dosis', sans-serif; */
  font-family: 'Titillium Web', sans-serif;
  background-color: rgb(134, 219, 247);
}

a {
  text-decoration: none;
  background-color: white;
  border: black;
  color: black;
  padding: 5px 5px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
}

button {
  background: white;
  border-radius: 20px;
}

input[name="logout"] {
  background: white;
  font-size: 14px;
  border-radius: 20px;
  padding: 3px 7px;
}