<h2>You are logged in <%= current_user.username %>.</h2>

<p>This is where home page where your list of favorite games will be displayed. You can click on the game itself to view its page! Enjoy.</p>

<% if !current_user.games.empty? %>

<h3>Here is your list of favorite games:</h3>

  <% @games.each do |game| %>

    <p><%= game.id %>. Game Name: <a href="/games/<%= game.id %>"><strong>"<%= game.name %>"</strong></a>
  <% end %>

  <p><a href="/games/new">Add</a> a game to your list.</p>
  <p><a href="/delete">Delete</a> a game from your list.</p>
  <p><a href="/game">Edit</a> your games list.</p>

<% else %>

<h3>Oops, looks like you dont have any games. Why don't you add some?</h3>
  <p><a href="/games/new">Start</a> a list, add your first game.</p>
<% end %>


  <form action="/logout" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Logout" name="submit">
  </form>