<h2>You are logged in <%= current_user.username %>.</h2>

<p>Welcome to your home page. Your list of favorite games will is displayed here once you have added games. You can click on the game itself to view its page, edit or delete if need be. Remember you can add a Title, Genre, and Reasoning for your choice. Enjoy!</p>

<% if !current_user.games.empty? %>

<h3>Your list:</h3>

  <% @games.each do |game| %>
  
  <p><a href="/games/<%= game.id %>"><strong>"<%= game.title %>"</strong></a></p>

  <% end %>

  <p><a href="/games/new">Add</a> a game to your list.</p>

<% else %>

<h3>Oops, looks like you dont have any games. Why don't you add some?</h3>
  <p><a href="/games/new">Start</a> a list, add your first game.</p>
<% end %>
