<h2>Log in to view your games!</h2>

<% if @error %>
  <p class="errors"><%= @error %></p>
<% end %>

<form action="/login" method="POST">
  <input type="text" name="username" placeholder="Username"><br>
  <input type="password" name="password" placeholder="Password"><br>
  <input type="submit" name="submit" value="Log In">
</form>


<p>Dont have an account? No problem, sign up <a href="/signup">here.</a></p>