
<h2>Sign up to make a list of your favorite games!</h2>

<% if @user && @user.errors.any? %>
  <% @user.errors.full_messages.each do |error| %>
    <p class="errors"><%= error %></p>
  <% end %>
<% end %>

<div class="login">
<form action="/signup" method="POST">
  <label for="username">Create a username:</label>
  <input type="text" name="username" required><br>
  <label for="password">Create a Password:</label>
  <input type="password" name="password">
  <input type="password" name="password_confirmation" placeholder="Confirm Password"><br>
  <input type="submit" name="submit" value="signup">
</form>
</div>


<p>Already have an account? No worries, log in <a href="/login">here.</a></p>