
<h2>Sign up to make a list of your favorite games!</h2>

<% if @user && @user.errors.any? %>
  <% @user.errors.full_messages.each do |error| %>
    <p class="errors"><%= error %></p>
  <% end %>
<% end %>

<div class="login">
<form action="/signup" method="POST">
  <label for="username">Create a Username</label>
  <input class="username" type="text" name="username" required><br>
  <label for="password">Create a Password</label>
  <input class="password" type="password" name="password" placeholder="6 to 20 characters">
  <input type="password" name="password_confirmation" placeholder="Confirm Password"><br>
  <input id="signup-submit" type="submit" name="submit" value="Signup">
</form>
</div>


<p>Already have an account? No worries, log in <a href="/login">here.</a></p>