<h3>Delete this game <%= @game.name %>?</h3>

<form action="/games/<%= @game.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="submit" value="Delete">
</form>