<h3>Delete <%= @game.title %>?</h3>

<form action="/games/<%= @game.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="Delete" value="Delete">
</form>
<br>
<a href="/games/<%= @game.id %>">Nevermind!</a> Lets not..
<br>