<h3>Delete this game <%= @game.name %>?</h3>

<form action="/games/<%= @game.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" name="submit" value="Delete">
</form>
<br>
<br>
<a href="/games/<%= @game.id %>">Nevermind!</a> Go back to game page.<br>
<br>
<br>
<form action="/logout" method="POST">
<input type="hidden" name="_method" value="DELETE">
<input type="submit" value="Logout" name="submit">
</form>