<h2>Hey <%= current_user.username %>, you can add a new game to your list here.</h2>

<form class="form" action="/games/new" method="POST">
<p><label for="name">Enter the Title of your Game:</label>
  <input type="text" name="title"></p>
<p><label for="genre">Enter the Genre you consider this game to be:</label>
  <input type="text" name="genre"></p>
<p><label for="reason">Enter the Reason you choose this game to be in your top list:</label>
  <input type="text" name="reason"></p>
  <input type="submit" name="submit" value="Add game">
</form>

<p>Just a hint, once you add the game you will be taken back to view your list or just head back <a href="/games">home</a> now.</p>
