
<h2>Welcome<h2>
<p>I have been an avid gamer my entire life. Playing countless hours, as if it was my second full time job. My brother always used to tell me as I would sit for a gaming session, "Oh jeez, clocking in for work huh". Of course</p>

<h2>Here you can <a href="/login">Log In</a> or <a href="/signup">Sign up</a> if required.</h2>