<br>

<p class="index-p">Hello, this is Your Favorite Games. You can create a list of your all time favorite games! They can be from any year, pc, or console. Go ahead and some games. Along with the game name, you can add a genre that you consider the game to be(since there are so many), and you can add the reason for why you wanted to add the game to the list. There is no restriction to the amount of games, however, it was mainly designed to have up to 10 if you have that many favorites. Thanks and have fun! You can begin by signing up or logging in if you already have an account</p>

<br>

<p class="index-attr"><a href="/login">Log In</a> <a href="/signup">Sign up</a></p>