<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital@0;1&display=swap" rel="stylesheet">
  <title>Your Favorite Games</title>
</head>
<body class="main-body">
  <div class="main-div">
    <h1 id="title">Welcome to Your Favorite Games</h1>
    
    <%= yield %>
    
    <% if logged_in? %>
    <br>
    <br>
      <form action="/logout" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Logout" name="logout">
      </form>
    <% end %>
  </div>
</body>
</html>