<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <title>Your Favorite Games</title>
</head>
<body class="not-found">
  <div class="not-found-div">
  <h1>404</h1>
    <h2>Sorry, this game no longer exists within this website or your way out of your jurisdiction turbo! Are you sure this is what you are looking for?</h2>
    <h1 id="home-href"><a href="/">Home Page</a><h1.
  </div>
 
</body>
</html>