<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Favorite Games</title>
</head>
<body>
  <div class="not-found">
    <h1>Sorry, this game no longer exists within this website! Are you sure this was the game you were looking for?</h1>
  </div>
 
</body>
</html>